@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

body {
    font-family: 'Source Code Pro', monospace;
    margin: 30px;
    padding: 0;
  }
  
  h1 {
    font-size: 2rem;
    margin: 2rem 0;
  
  }
  
  button {
    border-color: #232323;
    color: #232323;
    cursor: pointer;
    font-size: 1rem;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s ease;
  }
  
  #pilha,
  #fila {
    border-radius: 4px;
    display: flex;
    flex-wrap: wrap;
    margin: 1rem;
    min-height: 3rem;
    padding: 1rem;
  }
  
  #pilha div,
  #fila div {
    border-radius: 50%;
    color: #232323;
    display: flex;
    font-size: 1.5rem;
  }

  
#lista {
  border-radius: 4px;
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
  min-height: 3rem;
  padding: 1rem;
  }
  
  #lista div {
    border-radius: 50%;
    color: #232323;
    display: flex;
    font-size: 1.5rem;
  }
  
  #arvore {
    border-radius: 4px;
    display: flex;
    flex-wrap: wrap;
    margin: 1rem;
    min-height: 3rem;
    padding: 1rem;
  }
  
  #arvore div {
    border-radius: 50%;
    color: #232323;
    display: flex;
    font-size: 1.5rem;
  }
  